@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
$red_color: rgba(219, 68, 68, 1);

input {
	outline: none;
}
@mixin text($font, $size, $weight, $color) {
	font-family: $font;
	font-size: $size;
	font-weight: $weight;
	color: $color;
}
.button {
	background-color: $red_color;
	color: white;
}
.right-button {
	padding: 16px 46px;
	@include text(Poppins, 16px, 500, white);
}
.center-button {
	width: 234px;
	height: 56px;
}
.red-title {
	@include text(Poppins, 16px, 600, $red_color);
	&::after {
		content: '';
		width: 20px;
		height: 40px;
		background-color: $red_color;
		// now it's not end, i must position the red place
	}
}
